# Ignore the python compiled files

*.pyc

# Ignore the venv directories and configuration

bin
include
lib
lib64
share
pyvenv.cfg

# Ignore the pdf files

*.pdf

# Ignore migrations

timesheet_project/timesheet/migrations/
