# Ignore the python compiled files

*.pyc

# Ignore the venv directories and configuration

Include/
Lib/
Scripts/
pyvenv.cfg

# Ignore the pdf files

*.pdf

# Ignore migrations

timesheet_project/timesheet/migrations/
